.containerContacto p{
  font-size: 20px;
  color: white;
}

.containerContacto{
  margin-bottom: 50px;
}
.cabeceraContacto {
  margin-top: 10px;
  text-align: center;
}
.visitanosContacto {
  margin-top: 10px;
  text-align: center;
  font-size: 20px;
}


.telefonoContacto {
  margin-top: 10px;
  text-align: center;
}
.horario {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.separacionFooter {
  margin-bottom: 25vh;
}

@media only screen and (max-width: 600px) {
  .containerContacto {
    padding: 10px; /* Reducir el espaciado interno en dispositivos móviles */
    margin-bottom: 30px; /* Reducir el margen inferior en dispositivos móviles */
  }
}