.containerContacto p{
  
  color: white;
}

.containerContacto{
  margin-bottom: 50px;
}
.cabeceraContacto {
  margin-top: 10px;
  text-align: center;
  font-size: 30px;
}
.visitanosContacto {
  margin-top: 30px;
  text-align: center;
  font-size:20px;
  
}


.telefonoContacto {
  margin-top: 10px;
  text-align: center;
  font-size:20px;
}
.horario {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  font-size:20px;
}

.separacionFooter {
  margin-bottom: 25vh;
}

@media only screen and (max-width: 600px) {
  .containerContacto {
    padding: 20px 40px;
    margin-bottom: 10px;
  }
}