.Footer {
    background-color:  #e8910e;
    color: white;
    width:auto;
    height: 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footerIzquierdo{
    display: flex;
    justify-content: space-between;
    font-family: "Mohave", sans-serif;
}
.localizacion{
    margin-left: 35px;
    margin-right:50px;
   

}
.logoInstagram{
    margin-right: 25px;

}

.telefonoContacto{
    margin-left: 2px;
}