.containerModal,
.precios {
  display: flex;
  flex-direction: column;
}

.containerModal {
  color: black;
  align-items: center;
  background-image: url("../../../src/assets/medioLogo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center left;
  padding: 3vw 2vw;
  background-color: #F0F0F0;
}

.tituloModal {
  font-size: 2.3rem;
  font-weight: 600;
}

.tituloInglesModal,
.tituloInglesModal span {
  font-family: "Sansita Swashed", "Inter";
  font-size: 1.5rem;
  margin-bottom: 3vh;
}

.precios {
  width: 100%;
  gap: 15px;
}

.comidaPrecio {
  display: flex;
  justify-content: space-between;
  
}

.comidaPrecio p {
  font-family: "Inter", sans-serif;
  text-align: justify;
}

.nombreComidas {
  width: 80%;
}

.comidaIngles {
  font-family: "Inter", sans-serif;
  font-size: 0.8rem;
  margin-top: -10px;
  color: rgba(53, 53, 53, 0.801);
}

.amarillo {
  color: #e8910e;
}

.subtituloComida {
  margin-bottom: 30px;
  text-align: center;
  color: rgba(53, 53, 53, 0.801);
}

.preciosParaPicar {
  display: flex;
  gap: 45px;
}

.paraPicarDisplay {
  display: flex;
  flex-direction: column;
  width: 15vw;
}

.preciosVinos {
  display: flex;
  gap: 45px;
}

.vinosDisplay {
  display: flex;
  flex-direction: column;
  width: 17.5vw;
}

.comidaInglesVinos {
  font-family: "Inter", sans-serif;
  font-size: 0.8rem;
  margin-bottom: 10px;
  color: rgba(53, 53, 53, 0.801);
}

.paraPicarDisplay .comidaIngles, .vinosDisplay {
  margin: 0 0 15px 0;
}
.tituloVinos {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 5px;
}

@media (max-width: 1600px) {
  .preciosParaPicar {
    gap: 30px;
  }
  .paraPicarDisplay {
    width: 18vw;
  }

  .preciosVinos {
    gap: 30px;
  }

  .vinosDisplay {
    width: 25vw;
  }
}