.Footer {
  background-color: #e8910e;
  color: white;
  height: 72px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100vw;
  width: 100%;
  position: absolute;
  bottom: 0;
  flex-grow: 1;
}

.footerIzquierdo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 480px;
  margin-left: 3vw;
  font-family: "Mohave", sans-serif;
}
.localizacion {
  cursor: pointer;
  color: white;
}

.logoInstagram {
  margin-right: 25px;
}

.logoMapa,
.logoTelefono {
  width: 15px;
  margin-right: 10px;
}

@media screen and (max-width: 768px) {
  .Footer,
  .footerIzquierdo {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: auto;
    bottom: auto;
  }

  .footerIzquierdo {
    margin: 2vh auto;
  }

  .logoInstagram {
    margin: auto auto 2vh auto;
  }

  .localizacion span,
  .telefonoContacto span {
    font-size: 3.5vw;
  }
}
