.videoAngel {
    margin:0;
    padding:0;
    width:100%;
    height: 100vh;
    object-fit: cover ;
    display:block;

}
.videoAngel video {
    margin:0;
    padding:0;
    width:100%;
    height: 100vh;
    object-fit: cover ;
    display:block;

}