* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: white;
  font-family: "Mohave", sans-serif;
}

body {
  background-color: #1d1d1d;
  max-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}
